In [1]:
import pandas as pd
import numpy as np

In [13]:
# 2 crear una serie a partir de una lista, matriz y diccionario

lista = pd.Series([1,2,2,7,5,9])

dicci = pd.Series({'jamon':10 , 'queso':50, 'huevo':12})

matriz = np.arange(5)
ser3= pd.Series(matriz)

0    1
1    2
2    2
3    7
4    5
5    9
dtype: int64

In [17]:
# 3 convertir el indice de una serie en una columna de un marco de datos
serie = pd.Series([1,2,2,7,5,9])

df = serie.reset_index().rename(columns={'index': 'columna'})

df

   columna  0
0        0  1
1        1  2
2        2  2
3        3  7
4        4  5
5        5  9

In [34]:
# 4 combinar varias series para formar un data frame

lista = list('hola mundo')

ser1 = pd.Series(lista)
ser2 =pd.Series(np.arange(10))

df = pd.DataFrame({'col1':ser1 , 'col2':ser2})
df

  col1  col2
0    h     0
1    o     1
2    l     2
3    a     3
4          4
5    m     5
6    u     6
7    n     7
8    d     8
9    o     9

In [2]:
# 5 Cómo asignar un nombre al índice de la serie

ser = pd.Series(list('abcde'))
index = [0,1,2,3,4]
ser = ser.rename({1:'2da letra'})
ser

0            a
2da letra    b
2            c
3            d
4            e
dtype: object

In [5]:
# 6 conseguir que los articulos de la serie A no esten presentes en la serie B
serie1 = pd.Series([1,2,3,4,5,6])
serie2 = pd.Series([4,5,7,8,9])

serie1[~serie1.isin(serie2)]

0    1
1    2
2    3
5    6
dtype: int64

In [8]:
#7 conseguir los elementos que no son comunes en las series A y B 
serie1 = pd.Series([1,2,3,4,5,6])
serie2 = pd.Series([4,5,6,7,8,9])

serie_union = pd.Series(np.union1d(serie1 , serie2)) # se busca la union
serie_inter = pd.Series(np.intersect1d(serie1 ,serie2)) # la interseccion 

serie_union[~serie_union.isin(serie_inter)]
#en efecto los elementos comunes son 4 5 y 6

0    1
1    2
2    3
6    7
7    8
8    9
dtype: int64

In [14]:
#8 obtener el minio, el percuntil 25, la mediana rl 75 y el maximmo de una serie numerica
ser = pd.Series(np.random.normal(10,5,20))
np.percentile(ser , q=[25,75,100])

array([ 6.80078697, 12.43525728, 18.8240157 ])

In [18]:
# 9 como obtener recuentos de frecuencua de elementos unicos de una serie 

ser = pd.Series(list('abcdragetabcd'))
ser.value_counts()

a    3
b    2
c    2
d    2
r    1
g    1
e    1
t    1
Name: count, dtype: int64

In [22]:
# 10 mostar solo los 2 valores mas frecuentes como estan, y reemplazar todo lo demas como Other
array = np.random.randint(1,6, size=12)
ser = pd.Series(array)

# usando el metodo ~ isin combierto los otros numeros menos frecuentes

ser[~ser.isin(ser.value_counts().index[:2])] = 'Others'
ser

0          1
1     Others
2          1
3          1
4          3
5     Others
6     Others
7     Others
8          3
9          3
10    Others
11    Others
dtype: object

In [24]:
# 11 ¿Cómo agrupar una serie numérica en 10 grupos de igual tamaño?
ser = pd.Series(np.random.random(20))
print(ser.head())
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    0.068509
1    0.412711
2    0.109569
3    0.634412
4    0.088146
dtype: float64

0    1st
1    7th
2    3rd
3    9th
4    2nd
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [31]:
# 12 covertir un arrar de numpy a DF de forma dada
array = np.random.randint(5,15,12)
ser = pd.Series(array)
df = pd.DataFrame(ser.values.reshape(3,4))
df

    0   1   2   3
0  11  11   5   9
1   6   9  12  10
2  10  10   7  14

In [36]:
#13 ¿Cómo encontrar las posiciones de los números que son múltiplos de 3 de una serie
ser = pd.Series(np.random.randint(1,10,20))

print(ser[ser%3 == 0]) # da los numeros

np.argwhere(ser %3 == 0) # da los indices especificos

3     6
7     3
9     6
10    6
13    9
17    9
19    3
dtype: int32

array([[ 3],
       [ 7],
       [ 9],
       [10],
       [13],
       [17],
       [19]], dtype=int64)